.weather-forecast {
  display: flex; /* Sets the display property of the element to flex */
  padding: 1.5em; /* Adds padding to all sides of the element */
  flex-direction: column; /* Sets the direction of flex items to be stacked vertically */
  flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines if needed */
  justify-content: center; /* Aligns flex items along the vertical center of the container */
  border: 1px solid #ccc; /* Adds a 1px solid border with the color */
  border-radius: 0.5em; /* Rounds the corners of the element with a radius*/
  gap: 1em; /* Sets the gap between flex items*/
}

.weather-forecast-title {
  font-size: 2.5em;
}

.weather-forecast-value {
  font-weight: 600;
  font-size: 2em;
}

.weather-forecast-icon {
  font-size: 6em;
}
